<div class="card ">
   <div class="card-body">
    <h3 class="text-center text-white bg-primary alert">
        {{isInEditMode  ? 'Update Product' : 'Add Product'}}
    </h3>
    <form [formGroup]="productForm" (ngSubmit)="onProdFormSubmit()">
        <div class="form-group">
            <label for="pname">Product Name</label>
            <input type="text" formControlName="pname" class="form-control">
        </div>
        <div class="form-group">
            <label for="pstatus">Product Status</label>
            <select  id="pstatus" class="form-control" formControlName="pstatus">
                <option value="Delivered">Delivered</option>
                <option value="InProcess">InProcess</option>
                <option value="Dispatched">Dispatched</option>
            </select>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-secondary" [type]="isInEditMode ? 'button' :  'submit'"
           (click)="onProductupdate()"
            >{{isInEditMode ? 'Update User' : 'Add New User'}}</button>
        </div>
    </form>
   </div>
</div>
